<div class="container" fxLayoutAlign="center center" fxLayout="column">
  <form (ngSubmit)="this.resumeForm.valid && this.createResume()" [formGroup]="this.resumeForm">
    <mat-card *ngIf="!isCompleted" fxFlex="100%" fxLayout="column" fxLayoutGap="20px">
      <h1 style="font-size: 2rem">Name your Resume</h1>
      <mat-form-field>
        <input formControlName="name"
               matInput placeholder="Resume Name"/>
        <mat-hint>It can't be seen by others</mat-hint>
        <mat-error>This field is Required</mat-error>
      </mat-form-field>
      <div fxLayoutAlign="end end">
        <button matStepperNext type="submit" mat-raised-button color="accent">Save</button>
      </div>
    </mat-card>
    <div *ngIf="isCompleted" fxLayout="column" fxLayoutGap="30px" fxLayoutAlign="start center">
      <img width="8%" src="../../../assets/complete.png"/>
      <p>You Have already Completed This Step</p>
      <button color="accent" mat-raised-button matStepperNext type="button">Next</button>
    </div>
  </form>
</div>