<form (ngSubmit)="this.forgotPasswordForm.valid && !this.isEmailSend ? sendEmail() : changePassword()" [formGroup]="this.forgotPasswordForm" class="overlay"
    fxLayoutAlign="center center" fxLayout="column" fxLayoutGap="40px">
    <img src="../assets/digiresume-green.png" alt="logo_symbol" width="20%">
    <mat-card fxLayout="column">
        <h2>Forgot Password</h2>
        <mat-form-field *ngIf="!this.isEmailSend">
            <input type="email" formControlName="email" matInput placeholder="Email" />
            <mat-error>Valid email is required</mat-error>
        </mat-form-field>
        <div *ngIf="this.isEmailSend" fxLayout="column">
            <mat-form-field >
                <input type="text" formControlName="code" matInput placeholder="Code" />
                <mat-error>Valid code is required</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input type="password" formControlName="new_password" matInput placeholder="New Password" />
                <mat-error>New Password is required</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input type="text" formControlName="confirm_password" matInput placeholder="Confirm Password" />
                <mat-error>Same Password is required</mat-error>
            </mat-form-field>
        </div>
        <div fxLayout="row" *ngIf="!this.isEmailSend" style="margin-top: 2rem;" fxLayoutGap="20px" fxLayoutAlign="end">
            <button type="button" (click)="backToLogin()" color="primary" mat-raised-button>Go to Login</button>
            <button type="submit" color="primary" mat-raised-button>Send Email</button>
        </div>
        <div fxLayout="row" *ngIf="this.isEmailSend" style="margin-top: 2rem;" fxLayoutGap="20px" fxLayoutAlign="end">
            <button type="button" (click)="backToLogin()" color="primary" mat-raised-button>Go to Login</button>
            <button type="submit" color="primary" mat-raised-button>Change Passowrd</button>
        </div>
        <mat-spinner *ngIf="this.loading" diameter="40" color="accent"></mat-spinner>
    </mat-card>
</form>